@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Encode+Sans+Condensed:wght@400;500;800&display=swap');


/* 
    Specify the minimum width that the page will be responive to
    (i.e. elements will stop adjusting size/position when viewport reaches this value)
*/
html {
    min-width: 340px;
}

/* Default background color and default font for page bodies */
body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: var(--lightpurple-custom)!important;
}

/* Margin and text color for all 'main' elements */
main {
    margin-top: 25px;
    margin-bottom: 0;
    color: var(--purple-custom);
}

/* Font and margin for h1 elements */
.page-header {
    margin-bottom: 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
} 

/* Font for p elements */
p {
    line-height: 150%;
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
}

.bootstrap-icon {
    margin-top: -3px;
}

/* Size and coloring for hr elements */
.page-header-separator {
    border: solid;
    border-color: var(--purple-custom);
    border-width: 2px;
    border-radius: 20px;
    margin-top: 2px;
    color: var(--purple-custom);
    background-color: var(--purple-custom);
}

/* Size and margin for headshot image */
#headshot {
    margin: 7px 25px 10px 0;
    width: 300px;
    min-width: 30%;
}

#secret-cat {
    color: var(--purple-custom);
}

/* Font for the contact page content */
#contact-content {
    font-family: "Encode Sans", sans-serif;
}

/* More custom style for the contact page content */
#contact-content h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

#contact-content textarea {
    min-height: 38px;
}

#contact-content .list-group-item {
    background-color: #ede4ffb0;
}

#contact-content .btn {
    color: var(--lightpurple-custom);
    background-color: var(--purple-custom);
    font-size: 18pt;
}

#contact-content a {
    color: var(--purple-custom);
    font-size: 18pt;
}

#contact-content a:visited {
    color: var(--gold-custom);
}